.add-product-form-container{
    background-color: var(--panel);
    margin-right:50px;
    color: var(--white);
    padding: 10px;
    
}


.form{
    padding: 10px;
}

.input-container{
    display: block;
    margin: 10px

}

.input-text,.input-description{
    margin: 10px;
    font-family: var(--font);
    

}

.input-text::placeholder{
    color: rgb(189, 189, 189);
}

.input-text:focus{
    border: none;
}

.input-text{
    border: none;
    border-radius: 9px;
    padding-left: 6px;
    background: var(--background);
    width: 400px;
    height: 50px;
    color: whitesmoke;
    outline: none;
}


.input-description{
    width: 550px;
    height: 150px;
    border-radius: 9px;
    padding: 10px;
    background: var(--background);
    border:none;
    resize: none;
    outline: none;
    color: whitesmoke;
}


.input-description::placeholder{
    color: rgb(189, 189, 189);
}

.submit-btn{
    padding: 11px 15px;
    font-size: 13px;
}